@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white min-h-screen;
    background: radial-gradient(circle at top right, #0a0022, #000000);
  }
}

@layer components {
  .hero-gradient {
    background: linear-gradient(to right, #00f5ff, #d700ff);
  }
}